In [5]:
import numpy as np
import pandas as pd
from apyori import apriori

In [6]:
store_data = pd.read_excel('C:/Users/Ridz/Downloads/datamining-master/datamining-master/data.xls')

In [8]:
store_data.head()

  Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
0     Wine    Chips    Bread   Butter     Milk    Apple
1     Wine      NaN    Bread   Butter     Milk      NaN
2      NaN      NaN    Bread   Butter     Milk      NaN
3      NaN    Chips      NaN      NaN      NaN    Apple
4     Wine    Chips    Bread   Butter     Milk    Apple

In [9]:
store_data.tail()

   Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
17      NaN    Chips      NaN   Butter     Milk    Apple
18     Wine    Chips    Bread   Butter     Milk    Apple
19     Wine      NaN    Bread   Butter     Milk    Apple
20     Wine    Chips    Bread      NaN     Milk    Apple
21      NaN    Chips      NaN      NaN      NaN      NaN

In [10]:
store_data.shape

(22, 6)

In [12]:
records = []
for i in range(0, 22):
    records.append([str(store_data.values[i,j]) for j in range(0,6)])

In [58]:
assosiation_rules = apriori (records, min_support=0.4, min_confidence=0.7, min_lift=1.3, min_lenght=3)
assosiation_results = list(assosiation_rules)

In [59]:
print(len(assosiation_results))

2

In [60]:
print(assosiation_results[1])

RelationRecord(items=frozenset({'Bread', 'Butter', 'Wine', 'Milk'}), support=0.4090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Butter', 'Wine'}), items_add=frozenset({'Bread', 'Milk'}), confidence=0.8181818181818182, lift=1.3846153846153846)])

In [61]:
results =[]
for item in assosiation_results:
    pair = item[0]
    items = [x for x in pair]
    
    value0 = str(items[0])
    value1 = str(items[1])
    value2 = str(item[1]) [:6]
    value3 = str(item[2][0][2]) [:6]
    value4 = str(item[2][0][3]) [:6]
    
    rows = (value0, value1, value2, value3, value4)
    
    results.append(rows)
    
    label = ['title1', 'tittle2', 'support', 'confidence', 'lift']
    
    store_suggestion = pd.DataFrame.from_records(results, columns=label)
    
    print(store_suggestion)

  title1 tittle2 support confidence    lift
0  Bread  Butter  0.4090     0.9000  1.3200
  title1 tittle2 support confidence    lift
0  Bread  Butter  0.4090     0.9000  1.3200
1  Bread  Butter  0.4090     0.8181  1.3846

In [62]:
store_suggestion.describe()

       title1 tittle2 support confidence    lift
count       2       2       2          2       2
unique      1       1       1          2       2
top     Bread  Butter  0.4090     0.8181  1.3846
freq        2       2       2          1       1

In [63]:
store_suggestion.to_excel('C:/Users/Ridz/Downloads/datamining-master/datamining-master/data_output.xls')